<!DOCTYPE html>
<html>
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
      <link rel='stylesheet' href='/stylesheets/style.css'/>
      <script>
         angular.module('app', [])
         .controller('myfirst',function($http,$scope) {
         $scope.click=function()
         {
         $http.get("/users").then(function(response) {
         console.log(response.data);
         $scope.myData = response.data;
         });
         }
         });
      </script>
   </head>
   <body ng-app="app">
      <div ng-controller="myfirst">
         <input type="submit" value="click here" ng-click="click()"/>
         <div>
            {{myData}}
         </div>
       <div>
         <img src="<%= title.picture %>"/>
      </div>
   </body>
</html>
